Source: lingmo-workspace-base
Section: lingmo
Priority: optional
Maintainer: Elysia <c.elysia@foxmail.com>
Uploaders: Elysia <c.elysia@foxmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.5.0

Package: lingmo-workspace-base
Architecture: any
Section: lingmo
Priority: optional
Depends: appmotor,
         base-files,
         lingmo,
         lingmo-archive-keyring,
         lingmo-base-common,
         liblingmo,
         lingmo-core,
         lingmo-cursor-themes,
         lingmo-calculator,
         lingmo-grub-config,
         lingmo-daemon,
         lingmo-dock,
         lingmo-filemanager,
         lingmo-gtk-themes,
         lingmo-kwin-plugins,
         lingmo-qt-plugins,
         lingmo-launcher,
         lingmo-screenlocker,
         lingmo-sddm-theme,
         lingmo-settings,
         lingmo-statusbar,
         lingmo-systemicons,
         lingmo-terminal,
         lingmo-texteditor,
         lingmo-wallpapers,
         lingmo-ocr,
         lingmoui
Description: Informational list of lingmo-workspace-base packages.
